# ignore pushing the pytoch saved model
*.pth

# igont the python cache files
*__pycache__*

# ignore data images
annotation_json/data

# ignore virtual enviornment
venv*

# ignore the json files
*.json
